a {
	text-decoration: none;
	color: #000000;
	vertical-align: middle;
}
#a1 {
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
	margin-right: 20px;
}
#a2 {color:#FFF; text-decoration:none; border-radius:25px; background-color:#666; width:120px; font-weight:bold}
#a3 {
	text-decoration: none;
	color: #000;
	float: left;
	cursor:pointer;
}
#a4 {color:black; text-decoration:none; border-radius:25px; background-color:light-gray; width:120px; font-weight:bold}
#a5{
	color:#000;
	padding-left: 6px
}
#a6 {font-size:22px; text-decoration:none;; width:120px; font-weight:bold}
#a7 {color:black;text-decoration:underline; background-color:light-gray; width:120px; font-weight:bold}
#a8 { padding-left:10px}
#main {
	height: auto;
	width: 100%;
	margin: auto;
}
#header {
	height: 260px;
	width: 100%;
	background-color: #FFFFFF
}
#topBanner {
	height: 25px;
	background-color: #333333;
	color: #FFFFFF;
	text-align: right;
	padding-top: 7px;
	padding-left: 10px
}
#banner {
	height: 130px;
	width: 840px;
	background-color: #FFF;
	color: black;
	font-size: 36px;
	padding-top: 20px;
	padding-left: 160px
}
#bannerImage {
	float: left;
	margin-left: 36%;
	margin-top: -104px
}
#menu {
	background-color: #FFFFFF;
	width: 100%;
	height: 43px;
	margin-top: 35px;
	border-top: #999999 1px solid;
	font-weight: bold;
	font-size: 18px
}
#icon1 {
	width: 50px;
	height: 36px;
	padding-top: 10px
}
#icon2 {
	padding-left: 8px
}
ul {
	height: 11px
}
li {
	list-style: none;
	color: #000000;
	height: 42px;
	width: 120px;
	text-align: center;
	padding-top: 4px;
	cursor: pointer;
	float: left;
	margin-top: -18px;
}
ul .li0:hover {
	background-color:#e6e2e2;
	font-weight: bolder;
}
li ul {
	position: relative;
	display: none;
	left: -41px;
	top: 9px;
}
.li0:hover ul {
	display: block;
	margin-top: -10px;
	margin-left:1px;
}
ul li ul .li1 {
	height: 25px;
	width: 160px;
	background-color: #d6d5d5;
	margin-top: 0%;
	padding-top: 5px;
	font-weight: normal;
	text-align: left;
	padding-left: 24px;
}
ul .li1:hover {
	background-color:#CCC;
	font-weight: bolder
}
#searchButton {
	float: right;
	margin-top: -2.25%;
	border:none;
	outline:none;
	cursor:pointer;
	background-color:#FFF
}
#searchBox {
	float: right;
	margin-top: -2.55%;
	margin-right:2.35%;
	border: #999999 thin solid;
	height: 28px;
	width: 200px
}
#content {
	height: auto;
	width: 100%;
	clear: both;
	padding-top: 12px;
	background-color: #e8e8e8;
	overflow: hidden
}
#mainContent {
	height: auto;
	width: 89%;
	float: left;
	margin-left: 75px;
	margin-top: -3px;
	background-color: #FFFFFF;
	overflow: hidden;
	padding-bottom: 6.8%
}
#baiVietChiTiet {
	height: auto;
	width: 60%;
	float: left;
	margin-left: 75px;
	margin-top: -5px;
	background-color: #FFFFFF;
	overflow: hidden;
}
#tinLq { height:390px; width:100.3%; background-color:#FFFFFF; float:left}
#noiDungTinLq {height:330px}
#table { border-bottom: #CCCCCC solid 1px}
#table1 { margin-top:10px;  border-bottom:#CCCCCC solid 1px; width:800px; background-color:#8080804f; padding-left:20px;    }
#comment { height:40px; margin-top:10px;padding-left:30px;}
#user { font-weight:bold; color:#000000}
#rightBanner {
	height: 860px;
	width: 30%;
	background-color: #FFFFFF;
	float: left;
	margin-top: -5px;
	margin-left: 2%
}
#ttcn { 
	float:left;
	margin-left:2%;
	background-color: white;
	padding-left: 2%;
}
#dmk {
	float:left;
	margin-left:2%;
	background-color: white;
	padding-left: 2%;
	width: 49.5%;
}
#QLTTCN {
	width: 18%;
	background-color: #FFF;
	float: left;
	margin-left:70px;
	margin-bottom: 5.75%;
}
#dk {margin-bottom: 2.5%; float:right;margin-right:25.5%;}
#dn {margin-bottom: 7.35%; float:right; margin-right:25%;}
#llmk {margin-bottom: 7.85%; float:right; margin-right:19.5%;}
#bvl {
	margin-bottom: 7.85%;
	float:left;
	margin-left:2%;
	background-color: white;
	padding-left: 2%;
	width: 70% 
}
#hdbl {
	margin-bottom: 7.85%;
	float:left;
	margin-left:2%;
	background-color: white;
	padding-left: 2%;
	width: 70% 
}
.ul1{
	height:200px
}
.li2 {
	height: 35px;
	width: 200px;
	text-align: center;
	margin-top:0px;
	color: white;
	cursor: pointer;
	float: left;
	font-weight:bold;
	padding-top:15px;
	text-align:left;
	margin-left: -20px;
}
.li2:hover{
	background-color:#e8e8e8;
	font-size: 17px;
}
#footer {
	height: 50px;
	width: 100%;
	background-color: #333333;
	text-align: center;
	color: #FFFFFF;
	padding-top: 20px;
	top: 10px;
	float: left;
}
.err {
	color:#F00;
	}
.confirmbt {
	background-color: #0f9ad0; color: white; cursor: pointer;
}
#scroll {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius:10px;
  background-color:#cccccc;
  
}